.App {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  color: #283d50;
  margin: 60px 0 20px 0;
}
a {
  text-decoration: none;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
header, main, section, footer {
  width: 100%;
}
main, section {
  height: 700px;
}
header, nav, .team {
  background-color: #fff;
}
.about, .contact {
  background-color: #004a99;
}
main, .footer-1 {
  background-color: #1d224c;
}
.services, .pricing, .clients {
  background-color: #ecf5ff;
  display: flex;
  flex-direction: column;
}
nav, .main-container, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 
footer {
  background-color: #10f3fc;
}

/* ---  HEADER --- */
header {
  position: fixed;
  z-index: 2;
  height: 65px;
  padding: 20px 20%;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.6);
}
nav {
  height: 100%;
}
.logonav img {
  margin: 5px 100px 0 0;
  height: 50px;
  transition: all 0.5s;
}
.logonav img:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  }
.menu-icon a {
  color: #089ce2;
  font-size: 50px;
}
/*header nav .logonav .menu-icon:target #menu-overlay {
  display: flex;
}*/
.menu {
  font-size: 15px;
  width: 550px;
}
.menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu ul li a {
  color: #004289;
}
.menu ul li a:hover {
  color: #089ce2;
  transition: all 0.5s;
}
/*header nav .menu-overlay {
  background-color: rgba(19, 39, 57, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
header nav .menu-overlay .overlay {
  background-color: rgba(19, 39, 57, 0.8);
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: -220px;
  z-index: 2;
  padding-top: 25px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transition: all 0.5s;
}
header nav .menu-overlay .overlay li {
  padding: 10px 20px;
}
header nav .menu-overlay .overlay li a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  text-decoration: none;
}
header nav .menu-overlay .overlay li a:hover {
  color: #089ce2;
}
header nav .menu-overlay .close {
  position: absolute;
  top: 25px;
  right: 5%;
}
header nav .menu-overlay .close a {
  color: #fff;
  font-size: 25px;
}
header nav #menu-overlay:target {
  visibility: visible;
  opacity: 1;
}
header nav #menu-overlay:target .overlay {
  left: 0;
}
header nav #menu-overlay:target .close {
  display: block;
}*/

/*@media (min-width: 1000px) {
  .menu-overlay {
    display: none;
  }
}*/
@media (max-width: 1000px) {
  nav {
    padding: 10px 5%;
  }
  .logonav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
  }
  .logonav:hover {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
  }
  .menu-icon {
    display: flex;
  }
  .menu {
    display: none;
  }
}
/* ---  MAIN --- */
main {
  background-color: rgb(29, 34, 76, 0.8);
  height: 700px;
}
.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
}
.main-container{
  padding: 150px 20%;
}
.main-title {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-title h1 {
  margin: 20px 0 40px 0;
  width: 450px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 410px;
  height: auto;
}
.buttons button {
  color: #fff;
  background-color: rgba(0, 123, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin-right: 55px;
  font-size: 14px;
  text-align: center;
  transition: all 0.5s;
}
.buttons button a {
  color: #d8eafe;
}
.buttons button:hover {
  color: #d8eafe;
  background-color: #089ce2;
  border: 2px solid #089ce2;
}
.main-img {
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.main-img:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}
.main-img img {
  margin-top: 50px;
  height: 285px;
  width: auto;
}
@media (max-width: 1000px) {
  .main-container {
    padding: 10px 5%;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .main-container {
    padding: 10px 5%;
    display: flex;
    flex-direction: column-reverse;
    background-size: 100% 740px;
    height: 100%;
  }
  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .main-title h1 {
    text-align: center;
  }
  .main-img {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    background-size: 100% 740px;
  }
  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .main-title h1 {
    width: 90%;
    text-align: center;
    font-size: 36px;
    padding-bottom: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .buttons button {
    margin: 5px;
  }
  .main-img {
    display: flex;
    align-items: center;
  }
  .main-img img {
    width: 100%;
  }
}

/* --- SERVICES --- */
.services {
  padding: 20px 10%;
  padding-bottom: 80px;
}
.services-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-title p {
  color: #556877;
  font-size: 15px;
  text-align: center;
  height: 45px;
  width: 460px;
}
.wc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.whitecards {
  background-color: #fff;
  width: 250px;
  height: 300px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;  
  transition: all 0.5s;
}
.wc-1, .wc-2, .wc-3 { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.whitecards img {
  width: 50px;
  height: 50px;
  margin: 20px;
  color: #089ce2;
}
.data-paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  width: 200px;
}
.data-paragraph h4 {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 10px 0;
}
.data-paragraph h4:hover {
  color: #089ce2;
}
.data-paragraph p {
  color: #444;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.data-paragraph a {
  color: #089ce2;
  transition: all 0.5s;
}
.whitecards:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}

@media (max-width: 1000px) and (min-width: 600px) {
  .services {
    padding: 10px 5%;
  }
}
@media (max-width: 600px) {
  .services {
    padding: 10px 5%;
  }
  .services-title p {
    width: 100%;
  }
  .services .wc-container .whitecards {
    height: 100%;
  }
}
/* --- ABOUT US --- */
.about {
  height: 100%;
  padding: 20px 10%;
  padding-bottom: 80px;
  background-color: #004a99;
  color: #d8eafe;
}
.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title h2 {
  color: #fff;
}
.about-title p {
  width: 50%;
  text-align: center;
}
.bc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bluecards {
  background-color: #00458f;
  margin: 15px;
  padding: 15px;
  text-align: center;
  height: 340px;
  width: 320px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bluecards h4 {
  color: #fff;
  font-size: 22px;
}
.bluecards div {
  width: 100px;
}
.bluecards:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
  background-color: #003b7a;
}
.bluecards div a {
  color: #d8eafe;
  transition: all 0.5s;
}
.bluecards div a:hover {
  color: #089ce2;
  transition: all 0.5s;
}
.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}
.numbers-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
}
.numbers-box h1 {
  margin: 10px;
  transition: all 0.5s;
}
.numbers-box h1:hover {
  color: #089ce2;
  transition: all 0.5s;
}
.numbers-box p {
  color: #d8eafe;
  margin: 0;
  padding: 5px;
}
@media (max-width: 1000px) {
  .choose {
    padding: 10px 5%;
    padding-bottom: 80px;
  }
  .choose .bc-container {
    display: flex;
    flex-wrap: wrap;
  }
  .choose .bc-container .bluecards {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .choose {
    padding: 10px 5%;
    padding-bottom: 80px;
  }
  .choose .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choose .titulo h2 {
    text-align: center;
  }
  .choose .titulo p {
    width: 100%;
  }
  .choose .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }
  .choose .numbers div {
    width: 30%;
    height: 100px;
    margin: 20px;
  }
}
/* --- PRICING --- */
.pricing {
  padding: 20px 10%;
  padding-bottom: 80px;
}
.pricing-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 300px;
}
.pricing-data h4, .pricing-data h3, .pricing-data p {
  margin: 5px;
}
.pricing-data h3 {
  color: #089ce2;
}
.pricing-data p {
  color: #283d50;
}
.pricing-data ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
span {
  color: #089ce2;
}
.pricing-button {
  cursor: pointer;
  color: #fff;
  background-color: #089ce2;
  border: 2px solid #089ce2;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  transition: all 0.5s;
}
.pricing-button:hover {
  color: #089ce2;
  background-color: #d8eafe;
  border: 2px solid #089ce2;
  transition: all 0.5s;
}
/* --- TEAM --- */
.team {
  height: 100%;
  padding: 20px 7%;
  margin-bottom: 40px;
}
.team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-title h2 {
  margin-top: 60px;
  color: #283d50;
  margin-bottom: 20px;
}
.team-title p {
  color: #556877;
  text-align: center;
  height: 45px;
  width: 460px;
}
.team-images {
  padding: 30px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.img-container img {
  height: 100%;
}
.img-cont-hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 62, 128, 0.7);
  position: relative;
  bottom: 230px;
  visibility: visible;
  opacity: 0;
  transition: all 0.5s;
}
.img-cont-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-cont-info h2 {
  margin: 0;
  color: #d8eafe;
  font-size: 18px;
  font-weight: 700;
}
.img-cont-info p {
  color: #d8eafe;
  font-size: 13px;
  font-style: italic;
}
.rrss-links {
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.rrss {
  width: 20px;
  height: 20px;
  transition: all 0.1s;
}
.rrss:hover {
  width: 25px;
  height: 25px;
  transition: all 0.1s;
}
.img-cont-hover:hover {
  transform: translateY(-40px); 
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .team {
    padding: 20px 20%;
  }
}
@media (max-width: 600px) {
  .team {
    padding: 20px 5%;
  }
  .team .titulo p {
    width: 100%;
    margin-bottom: 40px;
  }
}
/* --- CLIENTS --- */
.clients {
  padding: 20px 20%;
  padding-bottom: 80px;
  background-color: #ecf5ff;
}
.clients-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients-title h2 {
  margin-top: 60px;
  color: #283d50;
  font-size: 36px;
  margin-bottom: 20px;
}
.clients-title p {
  color: #556877;
  text-align: center;
  height: 45px;
  width: 460px;
}
.clients-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}
.vinietas {
  width: 200px;
  height: 160px;
  margin: 2px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6eaff;
}
.vinietas img {
  width: 70%;
  text-align: center;
  vertical-align: center;
  transition: all 0.5s;
}
.vinietas img:hover {
  width: 80%;
}

@media (max-width: 600px) {
  .clients {
    padding: 20px 5%;
  }
  .clients .titulo p {
    width: 100%;
  }
  .clients .clients-images .vinietas {
    width: 100%;
  }
}
/* --- CONTACT --- */
.contact {
  padding: 0 20%;
  height: 450px;
  color: #fff;
}
.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title h2 {
  margin-top: 60px;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.form-row input {
  width: 48%;
  margin: 10px 0;
}
form input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border-radius: 5px;
  border: none;
}
textarea {
  width: 100%;
  margin: 10px 0;
  border: none;
}
form input[type=submit] {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  color: #fff;
  background-color: #007bff;
  margin: 10px;
  align-content: center;
  border: none;
}
.send {
  cursor: pointer;
  color: #fff;
  background-color: #089ce2;
  border: 2px solid #089ce2;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  transition: all 0.5s;
}
.send:hover {
  color: #089ce2;
  background-color: #d8eafe;
  border: 2px solid #089ce2;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .contact {
    height: 100%;
    margin-bottom: 40px;
    padding: 20px 5%;
  }
  .contact .contact-row {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .contact-row .mapa {
    width: 100%;
    margin: 10px;
  }
  .contact .contact-row .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .contact {
    height: 100%;
    margin-bottom: 40px;
    padding: 20px 5%;
  }
  .contact .contact-row {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .contact-row .mapa {
    width: 100%;
    margin: 10px;
  }
  .contact .contact-row .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .contact-row .contact-info .contact-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* --- FOOTER --- */
.footer-1 {
  padding: 0 20%;
  color: #eee;
  font-size: 14px;
  line-height: 1.5;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 20px;
}
.ft-col-1 {
  flex-basis: 25%;
  flex-shrink: 1;
}
.ft-col-1 img {
  margin-right: 15px;
  width: 120px;
  height: auto;
  transition: all 0.5s;
}
.ft-col-1 img:hover {
  margin-right: 15px;
  width: 130px;
  height: auto;
  transition: all 0.5s;
}
.ft-col-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-shrink: 0;
}
.ft-col-2 h4 {
  margin: 0;
}
.ft-col-2 ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  height: 200px;
}
.ft-col-2 ul li a {
  color: #eee;
  transition: color 0.5s;
}
.ft-col-2 ul li a:hover {
  color: #089ce2;
}
.ft-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  flex-shrink: 0;
}
.ft-col-3 div h4 {
  margin: 0;
}
.ft-col-3 div p {
  margin: 20px 0;
  font-size: 14px;
}
.ft-col-3 img {
  place-content: center;
  height: 25px;
  width: 25px;
  transition: all 0.5s;
}
.ft-col-3 img:hover {
  place-content: center;
  height: 30px;
  width: 30px;
  transition: all 0.5s;
}
.ft-col-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  flex-shrink: 1;
}
.ft-col-4 h4 {
  margin: 0;
}
.subscribe {
  margin-top: 15px;
  height: 36px;
  width: 100%;
  border: none;
}

@media (max-width: 1000px) and (min-width: 600px) {
  .footer-1 {
    padding: 60px 5%;
  }
  .footer-1 .footer-columns {
    padding: 10px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-1 .footer-columns .ft-col-1 {
    height: 300px;
    flex-basis: 40%;
  }
  .footer-1 .footer-columns .ft-col-2 {
    height: 300px;
    flex-basis: 40%;
  }
  .footer-1 .footer-columns .ft-col-3 {
    height: 300px;
    margin-top: 40px;
    flex-basis: 40%;
  }
  .footer-1 .footer-columns .ft-col-3 div p {
    height: 100%;
  }
  .footer-1 .footer-columns .ft-col-3 .icons {
    margin-top: 5px;
    justify-content: flex-start;
  }
  .footer-1 .footer-columns .ft-col-4 {
    height: 300px;
    margin-top: 40px;
    flex-basis: 40%;
  }
  .footer-1 .footer-columns .ft-col-4 p {
    height: 120px;
  }
  .footer-1 .footer-columns .ft-col-4 form .subscribe {
    margin-top: 5px;
  }
}
@media (max-width: 600px) {
  .footer-1 {
    padding: 30px 5%;
  }
  .footer-1 .footer-columns {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-1 .footer-columns .ft-col-1 {
    flex-basis: 100%;
    margin: 10px 5px;
    padding-bottom: 10px;
  }
  .footer-1 .footer-columns .ft-col-1 p {
    height: 100%;
  }
  .footer-1 .footer-columns .ft-col-2 {
    flex-basis: 50%;
    margin: 10px 5px;
    padding-bottom: 10px;
    height: 100%;
  }
  .footer-1 .footer-columns .ft-col-2 ul {
    margin: 0;
    padding: 15px 0;
    height: 100%;
  }
  .footer-1 .footer-columns .ft-col-3 {
    flex-basis: 50%;
    margin: 10px 5px;
    padding-bottom: 10px;
    height: 100%;
  }
  .footer-1 .footer-columns .ft-col-3 div p {
    height: 100%;
    margin: 15px 0;
  }
  .footer-1 .footer-columns .ft-col-3 .icons {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
  }
  .footer-1 .footer-columns .ft-col-4 {
    flex-basis: 100%;
    margin: 10px 5px;
    padding-bottom: 10px;
  }
  .footer-1 .footer-columns .ft-col-4 div p {
    margin: 15px 0;
    height: 100%;
  }
}
.copyright {
  color: #fff;
  background-color: #004289;
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.copyright p {
  margin: 1px;
}
.copyright p span {
  font-weight: bolder;
}
.copyright div .arrow {
  color: #eee;
  background-color: #089ce2;
  height: 35px;
  width: 35px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright div .arrow img {
  margin-top: 5px;
  height: 25px;
  width: 25px;
  transition: color 0.5s;
}
.copyright div .arrow a:hover {
  color: #eee;
}
.copyright div .arrow:hover {
  color: #eee;
  background-color: #1d224c;
}

@media (max-width: 600px) {
  .copyright {
    padding: 20px 5%;
  }
  .copyright p {
    text-align: center;
    margin: 2px;
  }
  .copyright p span {
    font-weight: bolder;
  }
  .copyright p a {
    color: #eee;
    transition: all 0.5s;
  }
  .copyright p a:hover {
    color: #089ce2;
  }
}